<div class="container">
  <div class="row">
    <div class="col-md-6 img">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q"
        alt="" class="img-rounded" />
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5>{{ username }}</h5>
        <small>
          <cite title="Source Title">
            Chicago, United States of America
            <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        {{ email }}<br />
        data <br />
        some data
      </p>
      <button type="button" class="btn btn-warning" (click)="logOut()">
        LogOut
      </button>
    </div>
    <input type="file" (change)="onFileSelection($event)" accept=".png, .jpeg, .jpg" style="margin: auto; width: 50%;" />
  </div>
  <br><br><br>
  <div>
    <app-post *ngFor="let post of userPostsList" [postData]="post.data"></app-post>
  </div>
